.card-hero{
    display: flex;
    flex-direction: row;
 
height: 200px;
border: 1px solid black;
border-radius: 3%;
justify-content: space-around;
margin: 2%;
}
.hero-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-discription{
    display: flex;
    flex-direction: column;
   align-content: flex-start;
   margin: 2%;
}
