.card-hero {
  display: flex;
  flex-direction: row;

  height: 30vh;
  border-radius: 3%;
  justify-content: space-around;
  margin: 1%;
  width: 30%;
}
.hero-name {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero-discription {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 2%;
}
